*{
    margin: 0px;
}

html {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: azure;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: rgb(198, 255, 184);
    padding: 10px;
    
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    
    
}

input{
    height: 50px;
    width: 300px;
}

div{
    margin: 50px;
}

button{
    width: 55px;
    height: 50px;
    background-color: rgba(255, 116, 3, 0.514);
    border-radius: 5px;
    font-size: 15px;
    border-color: rgba(255, 0, 0, 0);
    box-shadow: 1px 1px 10px;
    margin-top: 5px;
    text-align: center;
}